body{
    background-color: rgb(223, 217, 217);
    color: rgb(0, 0, 0);
}
td{
    border: 1px solid black
} 

button{
    background-color: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
}
th{
    border: 2px solid black;
}