body{
    background-color: rgb(223, 217, 217);
    color: rgb(0, 0, 0);
}
td{
    border: 1px solid black
} 

button{
    background-color: rgb(38, 0, 255);
    color: rgb(255, 255, 255);
}